
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CPmap</title>
</head>
<body>
    <div> 
        <img src="~/Content/images/CPmapWithRemark.jpg"/>
    </div>
</body>
</html>
