/*****************************************TABLE******************************************/
table {
    /*min-height: 50vh;*/
    position: relative;
    /*min-width: 800px;
    max-width:80%;*/
    width: 75%;
    /*background: #fff;*/
    border-radius: 5px;
    /*border-top: 5px solid #ff656c;*/
    margin: 0 auto;
    table-layout: fixed;
    min-width:660px;
}

/* Border styles */
#RDlist thead, #RDlist tr, #RHlist thead, #RHlist tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #438eb9;
}


#RDlist, #RHlist, #RLlist{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #438eb9;
    table-layout: fixed;
}

    /* Padding and font style */
    #RDlist th, #RHlist th {
        padding: 5px 10px;
        font-family: Verdana;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        word-break: keep-all;
        background-color: #438eb9;
    }
    #RDlist td, #RHlist td {
        padding: 5px 10px;
        font-size: 16px;
        font-family: Verdana;
        color: #438eb9;
        font-weight: 500;
        word-break: break-all;
        width: inherit;
    }
    #RDlist #colItemCode {
        width: 320px;
    }
    #RDlist #colDescription {
        min-width: 190px;
    }
    #RDlist #colQuantity {
        width: 150px;
    }
    #RHlist #colActions {
        /*width: 200px;*/
        width:100px;
        text-align:center;
    }

    /* Alternating background colors */
    #RDlist tr:nth-child(odd), #RHlist tr:nth-child(odd) {
        background: rgba(67, 142, 185, 0.25);
    }

    #RDlist tr:nth-child(even), #RHlist tr:nth-child(even) {
        background: #FFF
    }


#RDinfo {
    /*min-height: 50vh;*/
    position: relative;
    /*min-width: 800px;
    max-width:80%;*/
    width: 75%;
    border-radius: 5px;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 18px;
    table-layout: fixed;
}
#RDinfo tr{
    min-width:900px;
}
    #RDinfo .col1{
        font-weight:bold;
        padding-right:15px;
        width:200px;
    }

    #RDinfo .col2 {
        font-weight: 400;
        text-align:left;
    }




body h1 {
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

body h3 {
    top: 15vh;
    text-align: left;
    font-weight: bold;
    padding-left: 12.5%;
    font-size: 18px;
}

/*****************************************TABLE END******************************************/



/*****************************************BUTTON NORMAL ******************************************/
/* Common button styles */
.button {
    float: left;
    min-width: 150px;
    /*max-width: 250px;*/
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    font-size: 16px;
}

a:visited, a:hover, a:link {
    text-decoration: none;
}

    .button:focus {
        outline: none;
    }

.button > span {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

}

.button-container {
    text-align: center;

    padding: 3em 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.button-container-right {
    text-align: center;
    padding: 3em 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: right;
    justify-content: center;

    margin-right: 12.5%;
    float: right;
}

.spaceDiv{
    padding-left:30px;
    padding-right:30px;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}

.button--size-m {
    font-size: 16px;
}

.button--size-l {
    font-size: 25px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button--text-thin {
    font-weight: 300;
}

.button--text-medium {
    font-weight: 500;
}

.button--text-thick {
    font-weight: 600;
}

.button--round-s {
    border-radius: 5px;
}

.button--round-m {
    border-radius: 15px;
}

.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}

.button--border-medium {
    border: 2px solid;
}

.button--border-thick {
    border: 3px solid;
}

/*****************************************BUTTON NORMAL END******************************************/