<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <ul class="nav nav-list">
        <li class="active">
            <a href="~/Home/Index">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Home </span>
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> Requisition Form </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="~/RequisitionForm/ReqForm">
                        <i class="icon-double-angle-right"></i>New Requisition Form
                    </a>
                </li>
                <li>
                    <a href="~/RequisitionHandle/RequisitionHandle">
                        <i class="icon-double-angle-right"></i>Requisition Handling
                    </a>
                </li>
                <li>
                    <a href="~/RequisitionDetails/RequisitionDetail">
                        <i class="icon-double-angle-right"></i>Requisition Details
                    </a>
                </li>
                <li>
                    <a href="~/RequisitionHistory/RequisitionHistory">
                        <i class="icon-double-angle-right"></i>Requisition History
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> Retrieval Management </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="~/Retrieval/RequestList">
                        <i class="icon-double-angle-right"></i>Request List
                    </a>
                </li>
                <li>
                    <a href="~/Retrieval/RetrievalListHistory">
                        <i class="icon-double-angle-right"></i>Retrieval List History
                    </a>
                </li>
                <li>
                    <a href="~/Retrieval/RetrievalList">
                        <i class="icon-double-angle-right"></i>Retrieval List
                    </a>
                </li>
                <li>
                    <a href="~/Retrieval/RetrievalListDetail">
                        <i class="icon-double-angle-right"></i>Retrieval List Detail
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> Disbursement Management </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="~/Disbursement/DisbursementList">
                        <i class="icon-double-angle-right"></i>Disbursement List
                    </a>
                </li>
                <li>
                    <a href="~/Disbursement/DisburseListSelect">
                        <i class="icon-double-angle-right"></i>Disbursement List Select
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> Test </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Test/ViewOne">
                        <i class="icon-double-angle-right"></i> ViewOne
                    </a>
                </li>
                <li>
                    <a href="/Test/ViewMulti">
                        <i class="icon-double-angle-right"></i>ViewMulti
                    </a>
                </li>
                <li>
                    <a href="~/Test/dashboardTest">
                        <i class="icon-double-angle-right"></i>dashboardTest
                    </a>
                </li>
            </ul>
        </li>

    </ul>

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>

